<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>MVVM</title>
</head>
<body>
<div id="app">
  message:<input type="text" v-model="message" />
  student.name:<input type="text" v-model="student.name" />
  <ul>
    <li>message: {{message}}</li>
    <li>name: {{student.name}}</li>
    <li>age: {{student.age}}</li>
    <li>address: {{student.info.address}}</li>
  </ul>
  {{message}}{{student.name}}{{student.info.address}}
  <div>
    计算属性{{fullName}} {{fullName2}}
  </div>
</div>
<!-- 浏览器还没有完全支持ES6模块，所以需要在导入模块时，在script标签中加“type = module” -->
<script type="module">
  import MVVM from './mvvm.js'

  window.vm = new MVVM({
    el: '#app',
    data: {
      message: 'Hello Lemon！',
      student: {
        name: 'cuimm～',
        age: 18,
        info: {
          address: 'beijing',
        },
      },
      firstName: 'cui',
      secnodName: 'mengmeng',
    },
    computed: {
      fullName() {
        return `${this.secnodName}.${this.firstName}`
      },
      fullName2: {
        get() {
          return `${this.secnodName}.${this.firstName}`
        },
        set(val) {
          console.log('修改firstName为', val);
          this.firstName = val
        },
      },
    },
    mounted() {
      setTimeout(() => {
        console.log('等待2秒，student.age 加1');
        this.student.age++
      }, 2000)
    },
  })
  console.log(vm);
</script>
</body>
</html>
